html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

:root {
  --header-height: 80px;
  --navbar-width: 250px;
}

#dashboard {
  display: grid;
  grid-template-areas:
    'nav header header'
    'nav content content'
    'nav content content';
  height: 100vh;
  width: 100%;
  grid-template-rows: var(--header-height) 1fr;
  grid-template-columns: var(--navbar-width) 1fr;
}

nav {
  background-color: red;
  grid-area: nav;
}

header {
  background-color: green;
  grid-area: header;
}

main {
  background-color: grey;
  grid-area: content;
}
